# Python
__pycache__/
*.pyc
venv/
backend/venv/
.env

# Django
*.sqlite3
backend/media/
media/
staticfiles/
/import_data/
!backend/import_data/
backend/import_data/*
!backend/import_data/README.md
!backend/import_data/.gitkeep

# Node
node_modules/
.next/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
